button{
  padding: 0;
  box-sizing: border-box;
  background-color:transparent;
  cursor: pointer;
}
#playBtn {
  height: 74px;
  border-style: solid;
  border-width: 37px 0 37px 60px;
  border-color: transparent transparent transparent black;
  transition: all .5s ease;
  z-index: 999999;
  position: absolute;
  bottom: 50px;
  right: 50px
}
#playBtn:hover{
  border-style: double;
  border-width: 0px 0px 0px 60px;
}

#pauseBtn{
  display: none;
  width: 74px;
  height: 74px;
  border-style: double;
  border-width: 0px 0px 0px 60px;
  border-color: #202020;
  z-index: 999999;
  position: absolute;
  bottom: 50px;
  right: 56px
}